<ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">

<% @movies.each do |movie| %>
    <li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white text-center shadow">
      <div class="flex flex-1 flex-col my-8 p-8">
        <%= main_image(movie) %>
        <h3 class="mt-6 text-sm font-medium text-gray-900"><%= link_to movie.title, movie_path(movie) %></h3>
        <dl class="mt-1 flex grow flex-col justify-between">
          <dt class="sr-only">Earnings</dt>
          <dd class="text-sm text-gray-500"><%= total_gross(movie) %></dd>
          <dt class="sr-only">Rating</dt>
          <dd class="text-sm text-gray-500">
            <span class="stars">
                <%= render "shared/stars", percent: movie.average_stars_as_percent %>
            </span>
          </dd>
          <dt class="sr-only">Description</dt>
          <dd class="mt-3">
            <p>
                <%= truncate(movie.description, length: 150, separator: ' ') %>
            </p>
          </dd>
        </dl>
      </div>
    </li>
<% end %>

</ul>

<% if current_user_admin? %>
  <section class="admin">
      <%= link_to "Add New Movie", new_movie_path, class: "button" %>
  </section>
<% end %>
