<ul>
<% @movies.each do |movie| %>
    <li>
        <strong><%= movie.title %></strong> (<%= movie.rating %>):
        <%= total_gross(movie) %>
    </li>
    <p>
        <%= truncate(movie.description, length: 40, separator: ' ') %>
    </p>
    <p>
        <%= year_of(movie) %>
    </p>
<% end %>
</ul>