<section class="movie-details">
  <div class="image">
      <%#= main_image(@movie) %>
  </div>
  <div class="details">
    <h1><%= @movie.title %></h1>
    <h2>
      <%= year_of(@movie) %> &bull; <%= @movie.rating %>
    </h2>
    <% if current_user %>
      <div class="faves">
        <%= fave_or_unfave_button(@movie, @favorite) %>
        <div class="count">
          <%= @fans.count %>
        </div>
      </div>
    <% end %>
    <div class="reviews">
      <%= render "shared/stars", percent: @movie.average_stars_as_percent %>
      <%= link_to pluralize(@movie.reviews.size, "review"),
            movie_reviews_path(@movie) %>
    </div>
    <p>
      <%= @movie.description %>
    </p>
    <table>
      <tr>
        <th>Director:</th>
        <td><%=@movie.director %></td>
      </tr>
      <tr>
        <th>Duration:</th>
        <td><%=@movie.duration %></td>
      </tr>
      <tr>
        <th>Total Gross:</th>
        <td><%= total_gross(@movie) %></td>
      </tr>
    </table>

    <%#= link_to "Write Review", new_movie_review_path(@movie),
              class: "review" %>

    <h3>Write A Review for <%= link_to @movie.title, @movie %></h3>

    <%= render 'reviews/form', movie: @movie, review: @review %>
  </div>
</section>

<aside>
<% if @fans.present? %>
    <h4>Fans</h4>
    <ul>
      <% @fans.each do |user| %>
        <li>
          <%= link_to user.name, user %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <% if @genres.present? %>
    <h4>Genres</h4>
    <ul>
      <% @genres.each do |g| %>
        <li><%= g.name %></li>
      <% end %>
    </ul>
  <% end %>
</aside>

<% if current_user_admin? %>
  <section class="admin">
    <%= link_to "Edit", edit_movie_path(@movie), class: "button" %>
    <%= link_to "Delete", @movie, class: "button", method: :delete, data: { confirm: "Are you sure?" } %>
  </section>
<% end %>
