<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Flix" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <%= render 'layouts/nav' %>

    <%#= render 'layouts/header' %>

    <main>
        <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
            <%= render 'layouts/flash' %>

            <%= yield %>
        </div>
    </main>


    <%= render 'layouts/footer' %>
  </body>
</html>
